@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Sixtyfour&family=Staatliches&display=swap');
body,html{
max-width: 100%;
max-height: 100%;
box-sizing: border-box;
margin: 0;
font-family: "Julius Sans One", sans-serif;
background-image: url(images/topImage.jpg);

background-size: cover;
}
.body{
    width: 100%;
    height: 100vh;
    background-image: url(images/topImage.jpg);
    background-size: cover;
}
.body-2{
    width: 100%;
    height: 100vh;
    background-image: url(images/topImage2.jpeg);
    background-size: cover;
}
.three{
    height: 50vh;
}
.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 10;

}
.black-bar{
    background-color: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
    letter-spacing: 0.5vh;
    font-size: 3vh;
}
.glass-bar{
    display: flex;
    justify-content: end;
    background-color: rgba(94, 94, 94, 0.137);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.glass-bar ul{
    list-style: none;
    display: flex;
    gap: 2vh;
    margin: 0;
   color: white;
    padding: 1vh;
    border-bottom-left-radius: 2vh;
}
.glass-bar ul li:hover{
    background-color: rgba(0, 0, 0, 0.637);
}


.hm-check{
    display: none;
}
.hm-label{
    display: none;
}
.glass-bar ul .credits{
    display: none;
}
.content{
   
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   
  
}
.content-half{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
  
 }
 
.one{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: 1vh;
    color: white;
    text-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.897);

width: 100%;
}
.need-service{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 10px  rgba(0, 0, 0, 0.897);
}
.need-service span{
    font-size: 5vh;
}
.need-service button{
    background: none;
    padding: 2%;
    width: 50%;
    border: none;
    color: white;
    border:0.2vh solid white;
    border-radius: 3vh;
}
.one span{
    font-size: 7vh;
    font-weight: bold;
    width: 100%;
    
}
.one button{
    width: 20%;
    background: none;
    border: none;
    border: 0.2vh solid white;
    padding: 1%;
    border-radius: 3vh;
    color: white;
    font-size:medium;
    box-shadow:0px 0px 10px  rgba(0, 0, 0, 0.897);
}
.black-box-one{
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5vh;
    color: white;
    font-size: 3.5vh;
}
.black-box-one p{
    padding: 2%;
    line-height: 7.5vh;
}
.counters{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5vh;
    gap: 10vh;
    
}
.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.897);
}
.counter img{
    height: 20vh;
    width: auto;
}
.footer-black{
    background-color: black;
    padding: 5vh;
    display: flex;
    gap: 10vh;
}
.card{
    background-color: rgba(255, 255, 255, 0.205);
    width: 30%;
    height: 60vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.card .icons{
    display: flex;
    align-items: center;
    gap: 5vh;
}

.card .icons img{
    width: 5vh;
    

}
.card .icons .yt-icon{
    width: 8vh;
}

/* ------------------------------------------------------------------------------------------------------- */
/* register page */
.brown-box-one{
    background-color: rgba(49, 7, 7, 0.685);
    backdrop-filter: blur(10px);
    height: 60%;
    width: 60%;
    margin-top: 5%;
    border-radius: 5vh;
    display: flex;
}
.one{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.one .login-alert{
    font-size: small;
    font-weight: normal;
}
.one h1{
    margin: 0;
    font-size: 10vh;
    font-weight: normal;
}
.two h1{
    margin: 0;
}
.two input{
    background-color: rgb(27, 2, 2);
    border: none;
    height: 3vh;
    border-radius: 1vh;
    margin-top: 2vh;
    color: white;
    width: 80%;
}
.profile-image-input{
    background-color: rgb(27, 2, 2);
    border: none;
    height: 3vh;
    border-radius: 1vh;
    margin-top: 2vh;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    width: 81%; 
}
.two button{
    background-color: rgb(27, 2, 2);
    border: none;
    color: white;
}
.buttons{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    width: 60%;    
}
.buttons button{
    padding: 1vh;
    border-radius: 1vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* services */
body{
    background-repeat: repeat;
}
.service-content-box{
    width: 100%;
    max-height: auto;
    
    background-image: none;
  display: grid;
  place-items: center;
  gap: 40vh;
    
}
.service-card{
    position: relative;
  
    height: 50vh;
    width: 40%;
    display: flex;
    
   
    
}
.service-card .service-image{
    position: relative;
    width: 60%;
    height: 100%;
    border-radius:5vh;
}
.service-card .black-card{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(10px);
    width: 50%;
    height: 100%;
    z-index: 4;
    right: 0;
    border-radius: 0 5vh 5vh 5vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card .black-card h2{
    display: flex;
    justify-content: center;
   
}
.service-card .black-card p{
    margin: 0 4vh 4vh 4vh;
    font-size: 1.7vh;
    line-height: 2.1vh;
}
.service-card .black-card a{
    text-decoration: none;
    padding: 2%;
    width: 30%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    background:none;
    border: 0.2vh solid white;
    color: white;
    border-radius: 3vh;
}
.service-card .black-card img{
    display: none;
}
.admins-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.service-card .black-card .admins-buttons a{
    background-color: white;
    color: black;
    padding: 1%;
    font-size: 2vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* services view */
.service-card .black-card h3{
    font-size: xx-large;
}
.service-card .black-card #date-enter{
    margin-top: 5vh;
    background: none;
    border: none;
    border: 0.2vh solid white;
    padding: 2%;
    border-radius: 3vh;
    color: white;
}
.service-card .black-card #error-message{
    font-size: smaller;
    margin-top: 4vh;
}
.service-card .black-card button{
    margin-top: 5vh;
    background: none;
    border: 0.2vh solid white;
    padding: 2%;
    border-radius: 3vh;
    width: 30%;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------- */
/* create service */
.create-service{
    margin-top: 25vh;
    width: 40%;
    height: 60vh;
    border-radius: 0 5vh 5vh 5vh;
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    color: white;
}
.create-service #description{
    justify-content: start;
    align-items: start;
}
.create-service input,.dp-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 60%;
    background: none;
    border: 0.2vh solid white;
    border-radius: 3vh;
    height: 5vh;
    color: white;
}

.create-service #description{
    height: 20vh;
}
.create-service input[type="file"]{
    background-color: white;
    border: none;
}
.create-service button{
    background:none;
    border: none;
    border: 0.2vh solid white;
    padding: 1%;
    margin-bottom: 1vh;
    color: white;
    border-radius: 3vh;
    font-size: 3vh;
    width: 30%;
}
/* ------------------------------------------------------------------------------------------------------- */
/* WORKS MENU */
.works-bar{
    justify-content: center;
}
.works-bar button{
width: 60%;
}
.works-bar h2{
    font-size: 4vh;
}
/* WORKS */
/* ------------------------------------------------------------------------------------------------------- */
.works{
    justify-content: start;
    gap: 2vh;
}
.works h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}
.works button{
    font-size: 2vh;
}
.works span{
    font-size: 2vh;
}
.works .work-admin-button{
    background-color: white;
    color: black;
}
/* WORKS */
.settings{
    justify-content: center; 
}
/* ------------------------------------------------------------------------------------------------------- */
/* PENDING REQUESTS */
.requests{
    justify-content: flex-start;
    height: 80%;
}
.requests img{
    width: 35%;
    border-radius: 50%;
    margin-top: 2vh;
}
.requests .phone-number{
    text-decoration: none;
    -webkit-text-decoration: none;
    -webkit-user-select: none;
}
.requests .buttons{
    margin: 0;
}
.requests .buttons img{
    width: 15%;
}
/* ------------------------------------------------------------------------------------------------------- */
/* PENDING REQUESTS */
.create-work input{
 height: 2vh; 
}
.create-work input[placeholder]{
    font-size: 2vh;

   }
.create-work button{
    width: 30%;
}
/* ------------------------------------------------------------------------------------------------------- */
/* WORK HISTORY */
.history .content-inside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.history .content-inside span{
    font-size: 2.5vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .one img{
    width: 50%;
    border-radius: 50%;
}
.profile .two{
    justify-content: flex-start;
    
} 
.profile .two{
    gap: 3vh;
}
.profile .two .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.profile .two .button img{
    width: 10%;
    margin-right: 10%;
}
.profile .two .mobile-image{
display: none;
}
.profile .two input{
    font-size: 2.2vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE EDIT */
/* ------------------------------------------------------------------------------------------------------- */
.profile-edit .two button{
    padding: 2%;
    border-radius: 3vh;
}
.profile-edit .two .dp-and-icon{
    display: none;
}
.profile-edit .one .dp-and-icon{
    display: block;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.profile-edit .one .dp-and-icon .dp-edit-icon{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 35%;
    width: 10%;
}

.profile-edit .two .dp-and-icon .mobile-image{
    position: relative;
}
/* ------------------------------------------------------------------------------------------------------- */

/* 4k screen */
@media (max-width:2560px){
/* ------------------------------------------------------------------------------------------------------- */
/* services */

.service-card{
    width: 60%;
}

.service-card .black-card{
    width: 50%;
    height: 50vh;
}
.service-card .black-card h2{
    font-size: 5vh;
}
.service-card .black-card p{
    line-height: 2.3vh;
    margin: 1vh 2vh 2vh 2vh;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* services view */
.service-card .black-card h3{
    font-size: 5vh;
}
.service-card .black-card #checkslot{
    font-size: 3vh;
}
.service-card .black-card #date-enter{
    margin-top: 5vh;
    font-size: 2vh;
    background: none;
    border: none;
    border: 0.2vh solid white;
    padding: 2%;
    border-radius: 3vh;
    color: white;
}
.service-card .black-card #error-message{
    font-size: 2vh;
    margin-top: 4vh;
}
.service-card .black-card button{
    margin-top: 5vh;
    background: none;
    border: 0.2vh solid white;
    padding: 2%;
    border-radius: 3vh;
    width: 30%;
    color: white;
    font-size: 2vh;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* WORKS MENU */
.works-bar h2{
    font-size: 4vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* WORKS */
.works h3{
    font-size: 4vh; 
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .one img{
    width: 50%;
    border-radius: 50%;
}
.profile .two{
    justify-content: flex-start;
    font-size: 3vh;
    
} 
.profile .two{
    gap: 3vh;
}
/* ------------------------------------------------------------------------------------------------------- */
}

/* laptop large */
@media (max-width:1440px){
/* ------------------------------------------------------------------------------------------------------- */
/* services */


.service-card .black-card h2{
    font-size: x-large;
}
.service-card .black-card p{
    font-size: 2vh;
    line-height: 2.7vh;
}
/* ------------------------------------------------------------------------------------------------------- */

}


/* laptop small*/
@media (max-width:1024px){
   
    
    .black-box-one{
        font-size: 3.2vh;
    }
/* ------------------------------------------------------------------------------------------------------- */
/* services */
.service-card .black-card h2{
    font-size: x-large;
}
.service-card .black-card p{
    font-size: 1.9vh;
    line-height: 2.2vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* services view */
.service-card .black-card h3{
    font-size: 4vh;
}
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .two span{
    font-size: 2.5vh;
}
/* ------------------------------------------------------------------------------------------------------- */
}
/* tablet */
@media (max-width:768px){

    .glass-bar{
        
    }
    .black-bar{
        padding: 3%;
    }
    .one button{
        font-size: small;
        border-radius: 4vh;
    }
    .black-box-one{
        font-size: 3.2vh;
    }
    .card span{
        font-size: 2vh;
    }
    .card h1,h2{
        font-size: 4vh;
    }
    .counter span{
        font-size: 3vh;
    }
/* ------------------------------------------------------------------------------------------------------- */
/* services */

.service-card{
    width: 60%;
}

.service-card .black-card{
    width: 50%;
    height: 50vh;
}
.service-card .black-card h2{
    font-size: 13vh;
}
.service-card .black-card p{
    font-size: 1.7vh;
    line-height: 2vh;
    
    margin: 2vh 2vh 2vh 2vh;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* services view */
.service-card .black-card h3{
    font-size: x-large;
}


/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .one img{
    width: 50%;
    border-radius: 50%;
}
.profile .two{
    justify-content: flex-start;
    
} 
.profile .two{
    gap: 3vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .one img{
    width: 50%;
    border-radius: 50%;
}
.profile .two{
    justify-content: flex-start;
    font-size: 2.5vh;
    
} 
.profile .two{
    gap: 3vh;
}
.profile .two .button{
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
}
.profile .two .button img{
    width: 15%;
    margin-right: 10%;
}
}
/* ------------------------------------------------------------------------------------------------------- */

/* large mobile */
@media (max-width:425px){
    .three{
        height: 100vh;
    }
    .glass-bar{
        display: none;
        color: white;
        width: 100%;
        justify-content: center;
    }
    .glass-bar ul{
        border-bottom-left-radius: 0;
        width: 100%;
        gap: 5vh;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        height: 90vh;
       padding-top:5vh;
    }
    .glass-bar ul .credits{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2vh;
        margin-top: 30vh;
    }
    .black-bar{
        padding: 4%;
    }
    .hm-label{
    
        width: 95%;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: end;
        z-index: 5;
    }
    .hm-label .menu-icon{
      
        display: flex;
        flex-direction:column;
        width: 5vh;
        gap: 1.5vh;
        margin: 0;
        align-items: flex-end;
        transition: align-items 5s ease-in-out;
    }
   
    .line{
        width: 100%;
        height: 0.5vh;
        border-radius: 2vh;
        background-color: white;
        transition: width 5s ease-in-out;
    }
    .middle-line{
        width: 50%;
        
    }
    #hm-menu:checked + .hm-label .menu-icon{
        align-items: flex-start;
    }
    .glass-bar ul li{
        width: 100%;
        display: flex;
        justify-content: center;
       flex-direction: column;
       align-items: center;
       padding: 3%;
       font-size: 3vh;
    }
   
    .one span{
        font-size: 4vh;
        text-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.445);
    }
    .one button{
        font-size: small;
        width: 40%;
        text-shadow: 0px 2px 5px   rgba(0, 0, 0, 0.445);
    }
    .black-box-one{
        font-size: 1.9vh;
    }
    .black-box-one p{
        padding: 2%;
        line-height: 5vh;
    }
    .counters{
        flex-direction: column;
        font-size: 3vh;
    }
    .counter img{
        height: 10vh;
        width: auto;
    }
    .footer-black{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        height: 50vh;
       
    }

/* ------------------------------------------------------------------------------------------------------- */
/* register page */
   .one{
    display: none;
   }
.two{
    width: 100%;
}
   .brown-box-one{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.buttons{
    width: 100%;
  
    
}
/* ------------------------------------------------------------------------------------------------------- */
/* services */
.service-image{
    display: none;
}
.service-card{
    width: 80%;
}

.service-card .black-card{
    width: 100%;
    height: 65vh;
}
.service-card .black-card h2{
    font-size: smaller;
}
.service-card .black-card p{
    font-size: 1.5vh;
    margin: 2vh 2vh 2vh 2vh;
}
.service-card .black-card img{
    display: block;
    width: 80%;
    height: 10%vh;
    border-radius: 3vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* create service */  
.create-service{
    width: 80%;
}
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* WORKS */
.works h3{
    font-size: 3vh; 
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE */
/* ------------------------------------------------------------------------------------------------------- */
.profile .two .mobile-image{
    display: block;
    width: 30%;
    border-radius: 50%;
}
.profile .two span{
    font-size: 2vh;
}
.profile .two {
    gap: 1.8vh;
}
/* ------------------------------------------------------------------------------------------------------- */
/* PROFILE EDIT */

.profile-edit .two .dp-and-icon{
    display: block;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.profile-edit .two .dp-and-icon .dp-edit-icon{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 35%;
    width: 10%;
}

.profile-edit .two .dp-and-icon .mobile-image{
    position: relative;
}
/* ------------------------------------------------------------------------------------------------------- */
}
/* medium mobile */
@media (max-width:375px){
   
    .glass-bar{

    }
    .black-bar{
        padding: 5%;
    }
    .black-box-one{
        font-size: 2.5vh;
    }
    
}
/* small mobile */
@media (max-width:320px){
    .body{
        
        background-size: 260%;
    }
    .body-2{
        
        background-size: 260%;
    }
    .glass-bar{

    }
    .black-bar{
        padding: 6%;
    }
    .black-box-one{
        font-size: 2.2vh;
    }
    .black-box-one p{
        padding: 2%;
        line-height: 5vh;
    }
    .card span{
        font-size: 2vh;
    }
}